<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I begun my journey with programming right about two years ago when I first entered university. While I've learnt a lot in my journey, I am always looking to expand my horizon. With my lately new found passion on the technology of blockchain , I plan to
                    learn solidity over the summer. At the same time, I'd like to increase my proficiency on React along with Node.js.
                </p>
                <p>
                    I love building things. While hard engineering problems are often intrinsically fun to tackle, I'm most attracted to solving real customer problems with a business justification. I'm looking for an role where I could take on collaborative team leadership
                    responsibilites, and gain experience with the industry and project management.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    <li style="margin-bottom:1vh;">
                        Participation in agile development with real client over the course of 4 months. Created a web app for the faculties at the unviersity, granted with great client satisfaction
                    </li>
                    <li style="margin-bottom:1vh;">
                        Created an eBay transaction handler and a product dispatcher in Node.JS and MongoDB
                    </li>
                    <li style="margin-bottom:1vh;">
                        Shopify web design in Liquid for an online business in Italy
                    </li>
                    <li style="margin-bottom:1vh;">
                        Dental appointment management system coded in Java and mySQL for database under agile development
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>