<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My personal interests include:
                </p>
                <ul>
                    <li>
                        <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and intend to carry out sentiment analysis with the assist of machine learning in the upcoming year for my dissertation.
                    </li>
                    <li>
                        <b>Blockchain</b>. I've been an enthusiastic hobbiest since the start of this year - but only as I learning about smart contract was I able to foresee the potential of the technology. I'd like to make my own smart contract on the
                        ethereum blockchain in the summer.
                    </li>
                    <li>
                        <b>Cycling</b>. I live in the north of England during my term time at university, home of some of the greatest mountains and trails in the country. I enjoy spending weekends crusing down hills and testing my physical limits.
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        Data analysis on the influence of cryptocurrency social media marketers
                    </li>
                    <li>
                        Study on SEO, Facebook and Google ad for boosting sales of online businesses
                    </li>
                    <li>
                        Maintenance and monthly revamp for an online fashion business
                    </li>
                    <li>
                        My Medium blog covers my insight into the whitepaper of Cryptocurrency
                    </li>
                </ul>
                <h3>Other Things</h3>
                <ul>
                    <li>
                        Member of American Football club at the University of Sheffield(2017)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>